##### Maven #####
target/

##### Project #####
src/main/webapp/*
!src/main/webapp/WEB-INF/ # "You must white-list folders first, before being able to white-list files within a given folder."
!src/main/webapp/WEB-INF/web.xml